y = m1x1+m2x2+c<br>
m1=2,m2=3,c=5
(1,1) -->

In [4]:
def cal(x1,x2):
    return 2 *x1 +3*x2 +5
cal(1,1),cal(20,30),cal(15,20),cal(2,3),cal(7,10),cal(5,4),cal(2,11)

(10, 135, 95, 18, 49, 27, 42)

135

In [3]:
cal(15,20)

95

In [18]:
import pandas as pd
data = pd.read_csv('nonlinear_data.csv')
data

    x1  x2   y
0    1   1  10
1   20  30  13
2   15  20   9
3    2   3  18
4    7  10  49
5    5   4  27
6    2  11  42
7  100  45  34

In [19]:
features = data[['x1','x2']]
features

    x1  x2
0    1   1
1   20  30
2   15  20
3    2   3
4    7  10
5    5   4
6    2  11
7  100  45

In [20]:
target = data['y']
target

0    10
1    13
2     9
3    18
4    49
5    27
6    42
7    34
Name: y, dtype: int64

In [21]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(features,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [22]:
lr.intercept_   #c value

26.734842488918996

In [23]:
lr.coef_     # m1,m2

array([ 0.22015049, -0.36565818])

In [24]:
print(lr.predict([[2,6],[1,1]]))
print(lr.predict([[1,1]]))

[24.98119439 26.5893348 ]
[26.5893348]

In [25]:
pred = lr.predict(features)
pred

array([26.5893348 , 20.1681069 , 22.72393624, 26.07816893, 24.61931412,
       26.37296222, 23.1529035 , 32.29527329])

In [26]:
target

0    10
1    13
2     9
3    18
4    49
5    27
6    42
7    34
Name: y, dtype: int64

In [27]:
from sklearn.metrics import mean_squared_error
mean_squared_error(pred,target)

191.64014808787925

random m1,m2,c<br>
calculate y -->pred y<br>
diff pred y and act y<br>
update m1,m2 and c<br>

#### Classification

In [28]:
data1 = pd.read_csv('data.csv')
data1

   x1  x2    y
0   1   1   10
1  20  30  135
2  15  20   95
3   2   3   18
4   7  10   49
5   5   4   27
6   2  11   42

In [29]:
feat = data1[['x1','x2']]
feat

   x1  x2
0   1   1
1  20  30
2  15  20
3   2   3
4   7  10
5   5   4
6   2  11

In [30]:
out = data1['y'].apply(lambda x:1 if x>45 else 0)
out

0    0
1    1
2    1
3    0
4    1
5    0
6    0
Name: y, dtype: int64

In [31]:
from sklearn.linear_model import LogisticRegression
lrc = LogisticRegression()
lrc.fit(feat,out)

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [32]:
lrc.predict(feat)

array([0, 1, 1, 0, 1, 1, 0], dtype=int64)

In [33]:
data1['y']

0     10
1    135
2     95
3     18
4     49
5     27
6     42
Name: y, dtype: int64

In [34]:
lrc.intercept_

array([-1.00964006])

In [35]:
lrc.coef_

array([[ 0.28881217, -0.04947604]])