# global_sales_data

- cust_dimen
- market_fact
- orders_dimen
- prod_dimen	
- shipping_dimen

- Read the Market Fact data into market_df
- Display the top five rows
- Display the last three rows
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Print the row indices of the dataframe
- Check the dtype of each and every columns
- Description for Numerical Column min,max,count,25%,50%,75%,std
- Description for the categorical Columns count,top,freq
- Missing value count column wise
- Total Missing values count in the DataFrame
- Check the output for the info function
- Access 3,5,7 columns using iloc,loc and without using any of them
- How many unique products are there
- How amny unique customers are there
- What is the maximum sales

In [3]:
import pandas as pd

In [5]:
# Read the Market Fact data into market_df
market_df=pd.read_csv('data\\global_sales_data\\market_fact.csv')
market_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [6]:
# Display the top five rows
market_df.head(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [7]:
# Display the last three rows
market_df.tail(3)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.05,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [8]:
# Check the total number of entries you have
market_df.shape[0]

8399

In [9]:
# Check the No of features
market_df.shape[1]

10

In [10]:
# Print features Names(Column Names)
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [11]:
# Print the row indices of the dataframe
market_df.index

RangeIndex(start=0, stop=8399, step=1)

In [12]:
# Check the dtype of each and every column
market_df.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [13]:
# Description for Numerical Column min,max,count,25%,50%,75%,std
market_df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [14]:
market_df.describe()['Sales']

count     8399.000000
mean      1775.878179
std       3585.050525
min          2.240000
25%        143.195000
50%        449.420000
75%       1709.320000
max      89061.050000
Name: Sales, dtype: float64

In [15]:
market_df['Sales'].describe()

count     8399.000000
mean      1775.878179
std       3585.050525
min          2.240000
25%        143.195000
50%        449.420000
75%       1709.320000
max      89061.050000
Name: Sales, dtype: float64

In [16]:
# Description for the categorical Columns count,top,freq
market_df.describe(include='object')

          Ord_id Prod_id   Ship_id    Cust_id
count       8399    8399      8399       8399
unique      5506      17      7701       1832
top     Ord_2506  Prod_6  SHP_1378  Cust_1140
freq           6    1225         4         30

In [17]:
# Missing value count column wise
market_df.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [18]:
# Total Missing values count in the DataFrame 
market_df.isnull().sum().sum()

63

In [19]:
# Check the output for the info function
market_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.3+ KB

In [20]:
# Access 3,5,7 columns using iloc,loc and without using any of them
market_df.iloc[:,2:7:2]

       Ship_id      Sales  Order_Quantity
0     SHP_7609   136.8100              23
1     SHP_7549    42.2700              13
2     SHP_7610  4701.6900              26
3     SHP_7625  2337.8900              43
4     SHP_7664  4233.1500              35
...        ...        ...             ...
8394  SHP_7479  2841.4395              28
8395  SHP_7555   127.1600              20
8396  SHP_7524   243.0500              39
8397  SHP_7469  3872.8700              23
8398  SHP_7628   603.6900              47

[8399 rows x 3 columns]

In [21]:
market_df.loc[:,[ 'Ship_id', 'Sales','Order_Quantity']]

       Ship_id      Sales  Order_Quantity
0     SHP_7609   136.8100              23
1     SHP_7549    42.2700              13
2     SHP_7610  4701.6900              26
3     SHP_7625  2337.8900              43
4     SHP_7664  4233.1500              35
...        ...        ...             ...
8394  SHP_7479  2841.4395              28
8395  SHP_7555   127.1600              20
8396  SHP_7524   243.0500              39
8397  SHP_7469  3872.8700              23
8398  SHP_7628   603.6900              47

[8399 rows x 3 columns]

In [22]:
market_df[[ 'Ship_id', 'Sales','Order_Quantity']]

       Ship_id      Sales  Order_Quantity
0     SHP_7609   136.8100              23
1     SHP_7549    42.2700              13
2     SHP_7610  4701.6900              26
3     SHP_7625  2337.8900              43
4     SHP_7664  4233.1500              35
...        ...        ...             ...
8394  SHP_7479  2841.4395              28
8395  SHP_7555   127.1600              20
8396  SHP_7524   243.0500              39
8397  SHP_7469  3872.8700              23
8398  SHP_7628   603.6900              47

[8399 rows x 3 columns]

In [23]:
# How many unique products are there
market_df.Prod_id.nunique()

17

In [24]:
# How amny unique customers are there
market_df.Cust_id.nunique()

1832

In [25]:
# What is the maximum sales
market_df.Sales.max()

89061.05

# Prod_dimen.csv
- Read the Prod_diment data into prod_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Merge Market_df and Prod_pf creaate new datarame with comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts in "Product_Category" and "Product_Sub_Category" columns

In [26]:
# Read the Prod_diment data into prod_df
prod_df=pd.read_csv('data\\global_sales_data\\Prod_dimen.csv')
prod_df

   Product_Category            Product_Sub_Category  Prod_id
0   OFFICE SUPPLIES          STORAGE & ORGANIZATION   Prod_1
1   OFFICE SUPPLIES                      APPLIANCES   Prod_2
2   OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES   Prod_3
3        TECHNOLOGY    TELEPHONES AND COMMUNICATION   Prod_4
4         FURNITURE              OFFICE FURNISHINGS   Prod_5
5   OFFICE SUPPLIES                           PAPER   Prod_6
6   OFFICE SUPPLIES                    RUBBER BANDS   Prod_7
7        TECHNOLOGY            COMPUTER PERIPHERALS   Prod_8
8   OFFICE SUPPLIES                       ENVELOPES   Prod_9
9         FURNITURE                       BOOKCASES  Prod_10
10        FURNITURE                          TABLES  Prod_11
11  OFFICE SUPPLIES                          LABELS  Prod_12
12  OFFICE SUPPLIES             PENS & ART SUPPLIES  Prod_13
13       TECHNOLOGY                 COPIERS AND FAX  Prod_14
14        FURNITURE              CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES   SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                 OFFICE MACHINES  Prod_17

In [27]:
# Display the top two rows
prod_df.head(2)

  Product_Category    Product_Sub_Category Prod_id
0  OFFICE SUPPLIES  STORAGE & ORGANIZATION  Prod_1
1  OFFICE SUPPLIES              APPLIANCES  Prod_2

In [28]:
# Display the last three rows
prod_df.tail(3)

   Product_Category           Product_Sub_Category  Prod_id
14        FURNITURE             CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                OFFICE MACHINES  Prod_17

In [30]:
# Select one row randomly
prod_df.sample()

  Product_Category  Product_Sub_Category Prod_id
7       TECHNOLOGY  COMPUTER PERIPHERALS  Prod_8

In [31]:
# Check the total number of entries you have
prod_df.shape[0]

17

In [32]:
# Check the No of features
prod_df.shape[1]

3

In [33]:
# Print features Names(Column Names)
prod_df.columns

Index(['Product_Category', 'Product_Sub_Category', 'Prod_id'], dtype='object')

In [34]:
# Check the dtype of each and every columns
prod_df.dtypes

Product_Category        object
Product_Sub_Category    object
Prod_id                 object
dtype: object

In [36]:
# Merge Market_df and Prod_pf create new datarame with comb_data
comb_data=pd.merge(market_df,prod_df)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.19,0.10,33,988.20,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TECHNOLOGY,COPIERS AND FAX
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,TECHNOLOGY,COPIERS AND FAX

In [37]:
# check the number of rows and columns in comb_data.
comb_data.shape

(8399, 12)

In [38]:
# In the comb_data check the value counts in "Product_Category" and "Product_Sub_Category" columns
comb_data.Product_Category.value_counts()

OFFICE SUPPLIES    4610
TECHNOLOGY         2065
FURNITURE          1724
Name: Product_Category, dtype: int64

In [39]:
comb_data.Product_Sub_Category.value_counts()

PAPER                             1225
BINDERS AND BINDER ACCESSORIES     915
TELEPHONES AND COMMUNICATION       883
OFFICE FURNISHINGS                 788
COMPUTER PERIPHERALS               758
PENS & ART SUPPLIES                633
STORAGE & ORGANIZATION             546
APPLIANCES                         434
CHAIRS & CHAIRMATS                 386
TABLES                             361
OFFICE MACHINES                    337
LABELS                             288
ENVELOPES                          246
BOOKCASES                          189
RUBBER BANDS                       179
SCISSORS, RULERS AND TRIMMERS      144
COPIERS AND FAX                     87
Name: Product_Sub_Category, dtype: int64

# Orders_dimen.csv
- Read the Orders_dimen data into ord_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Check the "Order_Date" column type if it is object convert it into datetime
- Create two new columns Order_Year and Order_Month with year and month vcalues from Order_date
- Merge comb_data and ord_df and write the reslut into comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts in "Order_Priority"
- In the comb_data check the value counts for "Order_Year"
- In which Year the customer have Highest no of orders
- In the comb_data check the value counts for Order_Month
- In which Month the customer have Highest no of orders

In [40]:
# Read the Orders_dimen data into ord_df
ord_df=pd.read_csv('data\\global_sales_data\\Orders_dimen.csv')
ord_df

      Order_ID  Order_Date Order_Priority    Ord_id
0            3  13-10-2010            LOW     Ord_1
1          293  01-10-2012           HIGH     Ord_2
2          483  10-07-2011           HIGH     Ord_3
3          515  28-08-2010  NOT SPECIFIED     Ord_4
4          613  17-06-2011           HIGH     Ord_5
...        ...         ...            ...       ...
5501     47360  08-10-2010  NOT SPECIFIED  Ord_5502
5502     52706  09-07-2012            LOW  Ord_5503
5503     54279  30-07-2011           HIGH  Ord_5504
5504     55558  09-08-2010         MEDIUM  Ord_5505
5505     56581  08-02-2009           HIGH  Ord_5506

[5506 rows x 4 columns]

In [41]:
# Display the top two rows
ord_df.head(2)

   Order_ID  Order_Date Order_Priority Ord_id
0         3  13-10-2010            LOW  Ord_1
1       293  01-10-2012           HIGH  Ord_2

In [42]:
# Display the last three rows
ord_df.tail(3)

      Order_ID  Order_Date Order_Priority    Ord_id
5503     54279  30-07-2011           HIGH  Ord_5504
5504     55558  09-08-2010         MEDIUM  Ord_5505
5505     56581  08-02-2009           HIGH  Ord_5506

In [43]:
# Select one row randomly
ord_df.sample()

      Order_ID  Order_Date Order_Priority    Ord_id
3357     28928  30-04-2010            LOW  Ord_3358

In [44]:
# Check the total number of entries you have
ord_df.shape[0]

5506

In [45]:
# Check the No of features
ord_df.shape[1]

4

In [46]:
# Print features Names(Column Names)
ord_df.columns

Index(['Order_ID', 'Order_Date', 'Order_Priority', 'Ord_id'], dtype='object')

In [47]:
# Check the dtype of each and every columns
ord_df.dtypes

Order_ID           int64
Order_Date        object
Order_Priority    object
Ord_id            object
dtype: object

In [48]:
# Check the "Order_Date" column type if it is object convert it into datetime
ord_df['Order_Date']=pd.to_datetime(ord_df['Order_Date'])
ord_df.dtypes

Order_ID                   int64
Order_Date        datetime64[ns]
Order_Priority            object
Ord_id                    object
dtype: object

In [49]:
# Create two new columns Order_Year and Order_Month with year and month vcalues from Order_Date
ord_df['Order_Month']=ord_df['Order_Date'].dt.month
ord_df['Order_Month']

0       10
1        1
2       10
3        8
4        6
        ..
5501     8
5502     9
5503     7
5504     9
5505     8
Name: Order_Month, Length: 5506, dtype: int64

In [50]:
ord_df['Order_Year']=ord_df['Order_Date'].dt.year
ord_df['Order_Year']

0       2010
1       2012
2       2011
3       2010
4       2011
        ...
5501    2010
5502    2012
5503    2011
5504    2010
5505    2009
Name: Order_Year, Length: 5506, dtype: int64

In [52]:
ord_df.columns

Index(['Order_ID', 'Order_Date', 'Order_Priority', 'Ord_id', 'Order_Month',
       'Order_Year'],
      dtype='object')

In [53]:
# Merge comb_data and ord_df and write the reslut into comb_data
comb_data=pd.merge(comb_data,ord_df)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Product_Category,Product_Sub_Category,Order_ID,Order_Date,Order_Priority,Order_Month,Order_Year
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,2010-07-27,NOT SPECIFIED,7,2010
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,2010-07-27,NOT SPECIFIED,7,2010
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,OFFICE SUPPLIES,PAPER,36262,2010-07-27,NOT SPECIFIED,7,2010
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,2011-02-24,HIGH,2,2011
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,2012-02-26,LOW,2,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,54214,2012-02-01,MEDIUM,2,2012
8395,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,52035,2009-11-27,HIGH,11,2009
8396,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,TECHNOLOGY,COPIERS AND FAX,5988,2010-11-21,NOT SPECIFIED,11,2010
8397,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,27616,2012-07-30,LOW,7,2012
8398,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,41895,2011-10-01,CRITICAL,10,2011

In [54]:
# check the number of rows and columns in comb_data.
comb_data.shape

(8399, 17)

In [55]:
#In the comb_data check the value counts in "Order_Priority"
comb_data.Order_Priority.value_counts()

HIGH             1768
LOW              1720
NOT SPECIFIED    1672
MEDIUM           1631
CRITICAL         1608
Name: Order_Priority, dtype: int64

In [57]:
# In the comb_data check the value counts for "Order_Year"
comb_data.Order_Year.value_counts()

2009    2153
2010    2142
2012    2102
2011    2002
Name: Order_Year, dtype: int64

In [58]:
# In which Year the customer have Highest no of orders
comb_data.Order_Year.value_counts().argmax()

C:\Users\Krish\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

2009

In [60]:
comb_data.Order_Year.value_counts().idxmax()

2009

In [61]:
# In the comb_data check the value counts for Order_Month
comb_data.Order_Month.value_counts()

5     759
10    755
7     751
9     743
12    715
4     697
3     694
11    679
8     667
1     656
2     643
6     640
Name: Order_Month, dtype: int64

In [62]:
# In which Month the customer have Highest no of orders
comb_data.Order_Month.value_counts().argmax()

C:\Users\Krish\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

5

# cust_dimen.csv
- Read the cust_dimen data into cust_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Merge comb_data and cust_df and write the reslut into comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts in "Customer_Segment"

In [63]:
# Read the cust_dimen data into cust_df
cust_df=pd.read_csv('data\\global_sales_data\\cust_dimen.csv')
cust_df

           Customer_Name Province   Region Customer_Segment    Cust_id
0     MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS     Cust_1
1           BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER     Cust_2
2          CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE     Cust_3
3         CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER     Cust_4
4           CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE     Cust_5
...                  ...      ...      ...              ...        ...
1827      NICOLE BRENNAN  ALBERTA     WEST         CONSUMER  Cust_1828
1828       JASON FORTUNE  ALBERTA     WEST        CORPORATE  Cust_1829
1829        HARRY GREENE  ALBERTA     WEST        CORPORATE  Cust_1830
1830     GRANT DONATELLI  ALBERTA     WEST         CONSUMER  Cust_1831
1831          MICK BROWN  ALBERTA     WEST         CONSUMER  Cust_1832

[1832 rows x 5 columns]

In [64]:
# Display the top two rows
cust_df.head(2)

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2

In [65]:
# Display the last three rows
cust_df.tail(3)

        Customer_Name Province Region Customer_Segment    Cust_id
1829     HARRY GREENE  ALBERTA   WEST        CORPORATE  Cust_1830
1830  GRANT DONATELLI  ALBERTA   WEST         CONSUMER  Cust_1831
1831       MICK BROWN  ALBERTA   WEST         CONSUMER  Cust_1832

In [66]:
# Select one row randomly
cust_df.sample()

      Customer_Name     Province  Region Customer_Segment    Cust_id
1396  TOBY CARLISLE  SASKACHEWAN  PRARIE      HOME OFFICE  Cust_1397

In [67]:
# Check the total number of entries you have
cust_df.shape[0]

1832

In [68]:
# Check the No of features
cust_df.shape[1]

5

In [69]:
# Print features Names(Column Names)
cust_df.columns

Index(['Customer_Name', 'Province', 'Region', 'Customer_Segment', 'Cust_id'], dtype='object')

In [70]:
# Check the dtype of each and every columns
cust_df.dtypes

Customer_Name       object
Province            object
Region              object
Customer_Segment    object
Cust_id             object
dtype: object

In [72]:
# Merge comb_data and cust_df and write the reslut into comb_data
comb_data=pd.merge(comb_data,cust_df)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Product_Sub_Category,Order_ID,Order_Date,Order_Priority,Order_Month,Order_Year,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,"SCISSORS, RULERS AND TRIMMERS",36262,2010-07-27,NOT SPECIFIED,7,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,TELEPHONES AND COMMUNICATION,36262,2010-07-27,NOT SPECIFIED,7,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,PAPER,36262,2010-07-27,NOT SPECIFIED,7,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,...,PENS & ART SUPPLIES,20513,2009-07-07,HIGH,7,2009,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37,...,PAPER,39682,2010-09-11,MEDIUM,9,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_973,Prod_8,SHP_1343,Cust_357,29.05,0.08,4,-20.90,4.32,0.64,...,COMPUTER PERIPHERALS,40259,2010-12-10,MEDIUM,12,2010,THEONE PIPPENGER,BRITISH COLUMBIA,WEST,CORPORATE
8395,Ord_1832,Prod_8,SHP_2526,Cust_636,57.03,0.00,7,-31.38,3.52,0.68,...,COMPUTER PERIPHERALS,36230,2009-10-06,HIGH,10,2009,TOM PRESCOTT,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS
8396,Ord_2010,Prod_8,SHP_2748,Cust_760,282.58,0.10,36,21.68,1.99,0.52,...,COMPUTER PERIPHERALS,18534,2011-12-30,LOW,12,2011,TRACY PODDAR,NOVA SCOTIA,ATLANTIC,CORPORATE
8397,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.35,0.09,47,2787.59,24.49,0.46,...,COPIERS AND FAX,23616,2012-08-28,NOT SPECIFIED,8,2012,BECKY MARTIN,ONTARIO,ONTARIO,HOME OFFICE
8398,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.61,0.02,3,196.08,24.49,0.41,...,COPIERS AND FAX,38693,2011-06-14,LOW,6,2011,LYCORIS SAUNDERS,ONTARIO,ONTARIO,HOME OFFICE

In [73]:
# check the number of rows and columns in comb_data.
comb_data.shape

(8399, 21)

In [75]:
# In the comb_data check the value counts in "Customer_Segment"
comb_data.Customer_Segment.value_counts()

CORPORATE         3076
HOME OFFICE       2032
CONSUMER          1649
SMALL BUSINESS    1642
Name: Customer_Segment, dtype: int64

# shipping_dimen.csv
- Read the shipping_dimen data into ship_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Check the "Ship_Date" column type if it is object convert it into datetime
- Create two new columns Ship_Year and Ship_Month with year and month vcalues from Order_date
- Merge comb_data and ord_df and write the reslut into comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts for "Ship_Year"
- In which Year the customer have Highest no of Shippings
- In the comb_data check the value counts for Ship_Month
- In which Month the customer have Highest no of Shippings
- Create a new columns "Duration" whcih the diffenence b/n Ship_Date and Order_Date

In [76]:
# Read the shipping_dimen data into ship_df
ship_df=pd.read_csv('data\\global_sales_data\\shipping_dimen.csv')
ship_df

      Order_ID       Ship_Mode   Ship_Date   Ship_id
0            3     REGULAR AIR  20-10-2010     SHP_1
1          293  DELIVERY TRUCK  02-10-2012     SHP_2
2          293     REGULAR AIR  03-10-2012     SHP_3
3          483     REGULAR AIR  12-07-2011     SHP_4
4          515     REGULAR AIR  30-08-2010     SHP_5
...        ...             ...         ...       ...
7696     55558  DELIVERY TRUCK  09-08-2010  SHP_7697
7697     55558     REGULAR AIR  11-08-2010  SHP_7698
7698     56550     EXPRESS AIR  10-04-2011  SHP_7699
7699     56550     REGULAR AIR  09-04-2011  SHP_7700
7700     56581     EXPRESS AIR  11-02-2009  SHP_7701

[7701 rows x 4 columns]

In [77]:
# Display the top two rows
ship_df.head(2)

   Order_ID       Ship_Mode   Ship_Date Ship_id
0         3     REGULAR AIR  20-10-2010   SHP_1
1       293  DELIVERY TRUCK  02-10-2012   SHP_2

In [78]:
# Display the last three rows
ship_df.tail(3)

      Order_ID    Ship_Mode   Ship_Date   Ship_id
7698     56550  EXPRESS AIR  10-04-2011  SHP_7699
7699     56550  REGULAR AIR  09-04-2011  SHP_7700
7700     56581  EXPRESS AIR  11-02-2009  SHP_7701

In [79]:
# Select one row randomly
ship_df.sample()

     Order_ID    Ship_Mode   Ship_Date  Ship_id
461      3521  REGULAR AIR  27-10-2012  SHP_462

In [80]:
# Check the total number of entries you have
ship_df.shape[0]

7701

In [81]:
# Check the No of features
ship_df.shape[1]

4

In [82]:
# Print features Names(Column Names)
ship_df.columns

Index(['Order_ID', 'Ship_Mode', 'Ship_Date', 'Ship_id'], dtype='object')

In [83]:
# Check the dtype of each and every columns
ship_df.dtypes

Order_ID      int64
Ship_Mode    object
Ship_Date    object
Ship_id      object
dtype: object

In [84]:
# Check the "Ship_Date" column type if it is object convert it into datetime
ship_df['Ship_Date']=pd.to_datetime(ship_df['Ship_Date'])
ship_df.dtypes

Order_ID              int64
Ship_Mode            object
Ship_Date    datetime64[ns]
Ship_id              object
dtype: object

In [85]:
# Create two new columns Ship_Year and Ship_Month with year and month vcalues from Order_date
ship_df['Ship_Month']=ship_df['Ship_Date'].dt.month
ship_df['Ship_Month']

0       10
1        2
2        3
3       12
4        8
        ..
7696     9
7697    11
7698    10
7699     9
7700    11
Name: Ship_Month, Length: 7701, dtype: int64

In [86]:
ship_df['Ship_Year']=ship_df['Ship_Date'].dt.year
ship_df['Ship_Year']

0       2010
1       2012
2       2012
3       2011
4       2010
        ...
7696    2010
7697    2010
7698    2011
7699    2011
7700    2009
Name: Ship_Year, Length: 7701, dtype: int64

In [87]:
# Merge comb_data and ord_df and write the reslut into comb_data
comb_data=pd.merge(comb_data,ship_df,left_on='Ship_id',right_on='Ship_id')
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Order_Year,Customer_Name,Province,Region,Customer_Segment,Order_ID_y,Ship_Mode,Ship_Date,Ship_Month,Ship_Year
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,REGULAR AIR,2010-07-28,7,2010
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-27,7,2010
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-28,7,2010
3,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,...,2009,AARON BERGMAN,ALBERTA,WEST,CORPORATE,20513,EXPRESS AIR,2009-08-07,8,2009
4,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37,...,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE,39682,EXPRESS AIR,2010-11-11,11,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_973,Prod_8,SHP_1343,Cust_357,29.05,0.08,4,-20.90,4.32,0.64,...,2010,THEONE PIPPENGER,BRITISH COLUMBIA,WEST,CORPORATE,40259,EXPRESS AIR,2010-10-13,10,2010
8395,Ord_1832,Prod_8,SHP_2526,Cust_636,57.03,0.00,7,-31.38,3.52,0.68,...,2009,TOM PRESCOTT,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,36230,REGULAR AIR,2009-10-06,10,2009
8396,Ord_2010,Prod_8,SHP_2748,Cust_760,282.58,0.10,36,21.68,1.99,0.52,...,2011,TRACY PODDAR,NOVA SCOTIA,ATLANTIC,CORPORATE,18534,EXPRESS AIR,2011-12-30,12,2011
8397,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.35,0.09,47,2787.59,24.49,0.46,...,2012,BECKY MARTIN,ONTARIO,ONTARIO,HOME OFFICE,23616,REGULAR AIR,2012-08-28,8,2012
8398,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.61,0.02,3,196.08,24.49,0.41,...,2011,LYCORIS SAUNDERS,ONTARIO,ONTARIO,HOME OFFICE,38693,REGULAR AIR,2011-06-21,6,2011

In [88]:
# check the number of rows and columns in comb_data.
comb_data.shape

(8399, 26)

In [91]:
# In the comb_data check the value counts for "Ship_Year"
comb_data.Ship_Year.value_counts()

2009    2141
2010    2134
2012    2112
2011    2012
Name: Ship_Year, dtype: int64

In [92]:
# In which Year the customer have Highest no of Shippings
comb_data.Ship_Year.value_counts().argmax()

C:\Users\Krish\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

2009

In [93]:
comb_data.Ship_Year.value_counts().argmax()

C:\Users\Krish\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

2009

In [94]:
# In the comb_data check the value counts for Ship_Month
comb_data.Ship_Month.value_counts()

5     772
12    731
8     730
9     720
7     706
11    703
3     695
1     684
6     682
4     674
10    665
2     637
Name: Ship_Month, dtype: int64

In [95]:
# In which Month the customer have Highest no of Shippings
comb_data.Ship_Year.value_counts().argmax()

C:\Users\Krish\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

2009

In [96]:
# Create a new columns "Duration" which the diffenence b/n Ship_Date and Order_Date 
comb_data['Duration']=comb_data['Ship_Date']-comb_data['Order_Date']
comb_data['Duration']

0        1 days
1        0 days
2        1 days
3       31 days
4       61 days
         ...
8394   -58 days
8395     0 days
8396     0 days
8397     0 days
8398     7 days
Name: Duration, Length: 8399, dtype: timedelta64[ns]

In [97]:
comb_data.iloc[8394]

Ord_id                               Ord_973
Prod_id                               Prod_8
Ship_id                             SHP_1343
Cust_id                             Cust_357
Sales                                  29.05
Discount                                0.08
Order_Quantity                             4
Profit                                 -20.9
Shipping_Cost                           4.32
Product_Base_Margin                     0.64
Product_Category                  TECHNOLOGY
Product_Sub_Category    COMPUTER PERIPHERALS
Order_ID_x                             40259
Order_Date               2010-12-10 00:00:00
Order_Priority                        MEDIUM
Order_Month                               12
Order_Year                              2010
Customer_Name               THEONE PIPPENGER
Province                    BRITISH COLUMBIA
Region                                  WEST
Customer_Segment                   CORPORATE
Order_ID_y                             40259
Ship_Mode                        EXPRESS AIR
Ship_Date                2010-10-13 00:00:00
Ship_Month                                10
Ship_Year                               2010
Duration                  -58 days +00:00:00
Name: 8394, dtype: object

In [98]:
# Write the final Data into master.csv file
comb_data.to_csv('data\\global_sales_data\\master.csv')